In [24]:
from functions import Schedule
import pandas as pd
import numpy as np
import time
from datetime import datetime, timedelta

### Create a csv with all caldendars

In [2]:
# Create a dataframe with all schedules from 1979-80 to 2022-23
years = np.arange(1979, 2024)
dfs = []
for year in years :

    print(f'Fetching schedule for season {year-1}-{year} ...', end = '\r')
    dfs.append(Schedule(year))
    time.sleep(5)

data = pd.concat(dfs).reset_index(drop = True)
data.to_csv('data/Schedules_1979-2023.csv', index = None)

## Calendar features

In [5]:
data = pd.read_csv('data/Schedules_1979-2023.csv')
data.head()

         Date  Year HomeTm AwayTm                Home                Away
0  1978-10-13  1979    DEN    SAS      Denver Nuggets   San Antonio Spurs
1  1978-10-13  1979    DET    NJN     Detroit Pistons     New Jersey Nets
2  1978-10-13  1979    IND    ATL      Indiana Pacers       Atlanta Hawks
3  1978-10-13  1979    NYK    HOU     New York Knicks     Houston Rockets
4  1978-10-13  1979    PHI    LAL  Philadelphia 76ers  Los Angeles Lakers

In [6]:
tm, year = 'NYK', 2017

In [11]:
games = data[((data['HomeTm'] == tm) | (data['AwayTm'] == tm)) & (data['Year'] == year)]

In [16]:
games['Date'] = pd.to_datetime(games['Date'])

/var/folders/x8/gymrgfns32bd6rd_ksf19p3m0000gn/T/ipykernel_38185/2520116973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games['Date'] = pd.to_datetime(games['Date'])

In [30]:
games['Date'].diff().mean().total_seconds() / 3600 / 24

2.086676954722222

In [33]:
games['Date']

41771   2016-10-25 19:30:00
41798   2016-10-29 19:30:00
41820   2016-11-01 19:30:00
41827   2016-11-02 19:30:00
41843   2016-11-04 20:00:00
                ...
42929   2017-04-04 20:00:00
42946   2017-04-06 19:30:00
42952   2017-04-07 20:00:00
42966   2017-04-09 12:00:00
42988   2017-04-12 20:00:00
Name: Date, Length: 82, dtype: datetime64[ns]