In [1]:
from functions import Schedule

In [8]:
Schedule(2023)

                    Date Home Away  PTS_home  PTS_away
0    2022-10-18 19:30:00  BOS  PHI       126       117
1    2022-10-18 22:00:00  GSW  LAL       123       109
2    2022-10-19 19:00:00  DET  ORL       113       109
3    2022-10-19 19:00:00  IND  WAS       107       114
4    2022-10-19 19:30:00  MIA  CHI       108       116
...                  ...  ...  ...       ...       ...
1225 2023-04-09 15:30:00  PHO  LAC       114       119
1226 2023-04-09 15:30:00  OKC  MEM       115       100
1227 2023-04-09 15:30:00  DAL  SAS       117       138
1228 2023-04-09 15:30:00  LAL  UTA       128       117
1229 2023-04-09 15:30:00  MIN  NOP       113       108

[1230 rows x 5 columns]