# Stochastic Framework Through Year Calendar

In [9]:
import pandas as pd
import numpy as np

from scipy.stats import spearmanr, kendalltau

In [11]:
schedules = pd.read_csv("data/Schedules_1979-2023.csv")
schedules.head()

         Date  Year HomeTm AwayTm                Home                Away
0  1978-10-13  1979    DEN    SAS      Denver Nuggets   San Antonio Spurs
1  1978-10-13  1979    DET    NJN     Detroit Pistons     New Jersey Nets
2  1978-10-13  1979    IND    ATL      Indiana Pacers       Atlanta Hawks
3  1978-10-13  1979    NYK    HOU     New York Knicks     Houston Rockets
4  1978-10-13  1979    PHI    LAL  Philadelphia 76ers  Los Angeles Lakers

In [105]:
len(schedules[schedules.Year == 2021])

1080

In [12]:
def run_through_calendar(year, gamma, model_pred):

     schedules_year = schedules.copy()[schedules.Year==year].reset_index(drop=True)
     model_pred_year = model_pred.copy()[model_pred.Year == year].reset_index(drop=True)
     # Take list of teams as home and away team and initiate the keys of pred_dic
     Tm = pd.unique(schedules_year[['HomeTm', 'AwayTm']].values.ravel('K'))
     pred_dic = {value: 0 for value in Tm}

     for k in range(len(schedules_year)):
          home_pred = model_pred_year[model_pred_year.Tm == schedules_year.loc[k, "HomeTm"]]['Pred'].item()
          away_pred = model_pred_year[model_pred_year.Tm == schedules_year.loc[k, "AwayTm"]]['Pred'].item()
          
          if home_pred + gamma > away_pred:
               pred_dic[schedules_year.loc[k, "HomeTm"]] +=1
          
          elif home_pred + gamma < away_pred:
               pred_dic[schedules_year.loc[k, "AwayTm"]] +=1
          
          else: # Rare case of equality: then just random
               outcome = np.random.randint(2)
               pred_dic[schedules_year.loc[k, "HomeTm"]] += outcome
               pred_dic[schedules_year.loc[k, "AwayTm"]] += 1-outcome
     
     return pred_dic

In [25]:
pred_LR = pd.read_csv('data/pred_test_LR.csv')
pred_LR.head()

   Year   Tm  Real       Pred
0  2014  BOS  25.0  33.722703
1  2014  NYK  37.0  48.635391
2  2014  PHI  19.0  28.445007
3  2014  ATL  38.0  47.303396
4  2014  CLE  33.0  31.400120

In [123]:
list = []

In [155]:
year = 2023
pred_dict = run_through_calendar(year, 15, pred_LR)

In [156]:
pred_LR_year = pred_LR[pred_LR.Year == year]
pred_LR_year.drop('Pred', axis=1, inplace=True)
pred_LR_year['Pred'] = pred_LR_year['Tm'].map(pred_dict)
pred_LR_year

/var/folders/m7/tssqlvyd6qg7dyx5bvdn0x4h0000gn/T/ipykernel_7840/1643993587.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pred_LR_year.drop('Pred', axis=1, inplace=True)
/var/folders/m7/tssqlvyd6qg7dyx5bvdn0x4h0000gn/T/ipykernel_7840/1643993587.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pred_LR_year['Pred'] = pred_LR_year['Tm'].map(pred_dict)

     Year   Tm  Real  Pred
262  2023  BOS  57.0    52
263  2023  NYK  47.0    42
264  2023  PHI  54.0    53
265  2023  ATL  41.0    48
266  2023  CLE  51.0    51
267  2023  DET  17.0    14
268  2023  HOU  22.0     5
269  2023  SAS  22.0    29
270  2023  CHI  40.0    44
271  2023  DEN  53.0    55
272  2023  IND  35.0    28
273  2023  MIL  58.0    54
274  2023  GSW  44.0    51
275  2023  LAL  43.0    44
276  2023  PHO  45.0    53
277  2023  POR  33.0    25
278  2023  UTA  37.0    44
279  2023  DAL  38.0    48
280  2023  LAC  44.0    47
281  2023  SAC  48.0    36
282  2023  MIA  44.0    51
283  2023  ORL  34.0    19
284  2023  MIN  42.0    52
285  2023  TOR  41.0    47
286  2023  WAS  35.0    35
287  2023  MEM  51.0    51
288  2023  OKC  40.0    20
289  2023  BRK  45.0    46
290  2023  NOP  42.0    44
291  2023  CHO  27.0    42

In [157]:
spmr, _ = spearmanr(pred_LR_year['Real'], pred_LR_year['Pred'])
ktau, _ = kendalltau(pred_LR_year['Real'], pred_LR_year['Pred'])
spmr, ktau

(0.7920492147474439, 0.621610991828358)

In [158]:
list.append(pred_LR_year)

In [159]:
list

[     Year   Tm  Real  Pred
 112  2018  BOS  55.0    48
 113  2018  NYK  29.0    31
 114  2018  PHI  52.0    31
 115  2018  ATL  24.0    29
 116  2018  CLE  50.0    58
 117  2018  DET  39.0    37
 118  2018  HOU  65.0    59
 119  2018  SAS  47.0    58
 120  2018  CHI  27.0    35
 121  2018  DEN  46.0    40
 122  2018  IND  48.0    35
 123  2018  MIL  44.0    38
 124  2018  GSW  58.0    73
 125  2018  LAL  35.0    26
 126  2018  PHO  21.0    27
 127  2018  POR  49.0    40
 128  2018  UTA  48.0    40
 129  2018  DAL  24.0    35
 130  2018  LAC  42.0    52
 131  2018  SAC  27.0    26
 132  2018  MIA  44.0    40
 133  2018  ORL  25.0    28
 134  2018  MIN  47.0    50
 135  2018  TOR  59.0    53
 136  2018  WAS  43.0    42
 137  2018  MEM  22.0    43
 138  2018  OKC  48.0    55
 139  2018  BRK  28.0    22
 140  2018  NOP  48.0    40
 141  2018  CHO  36.0    39,
      Year   Tm  Real  Pred
 142  2019  BOS  49.0    51
 143  2019  NYK  17.0    25
 144  2019  PHI  51.0    52
 145  2019  ATL  29.0    25
 146  2019  CLE  19.0    38
 147  2019  DET  41.0    40
 148  2019  HOU  53.0    59
 149  2019  SAS  48.0    46
 150  2019  CHI  22.0    19
 151  2019  DEN  54.0    50
 152  2019  IND  48.0    45
 153  2019  MIL  60.0    45
 154  2019  GSW  57.0    60
 155  2019  LAL  37.0    51
 156  2019  PHO  19.0    17
 157  2019  POR  53.0    50
 158  2019  UTA  50.0    51
 159  2019  DAL  33.0    34
 160  2019  LAC  48.0    39
 161  2019  SAC  39.0    10
 162  2019  MIA  39.0    40
 163  2019  ORL  42.0    26
 164  2019  MIN  36.0    46
 165  2019  TOR  58.0    58
 166  2019  WAS  32.0    52
 167  2019  MEM  33.0    22
 168  2019  OKC  49.0    53
 169  2019  BRK  42.0    36
 170  2019  NOP  33.0    51
 171  2019  CHO  39.0    39,
      Year   Tm  Real  Pred
 172  2020  BOS  55.0    46
 173  2020  NYK  26.0    11
 174  2020  PHI  48.0    36
 175  2020  ATL  25.0    16
 176  2020  CLE  24.0    11
 177  2020  DET  25.0    29
 178  2020  HOU  50.0    51
 179  2020  SAS  37.0    25
 180  2020  CHI  28.0    18
 181  2020  DEN  52.0    45
 182  2020  IND  51.0    32
 183  2020  MIL  63.0    46
 184  2020  GSW  19.0    35
 185  2020  LAL  60.0    40
 186  2020  PHO  38.0    15
 187  2020  POR  39.0    39
 188  2020  UTA  50.0    39
 189  2020  DAL  47.0    31
 190  2020  LAC  56.0    40
 191  2020  SAC  35.0    28
 192  2020  MIA  49.0    38
 193  2020  ORL  37.0    30
 194  2020  MIN  24.0    24
 195  2020  TOR  60.0    44
 196  2020  WAS  28.0    19
 197  2020  MEM  38.0    22
 198  2020  OKC  50.0    37
 199  2020  BRK  40.0    32
 200  2020  NOP  34.0    28
 201  2020  CHO  29.0    16,
      Year   Tm  Real  Pred
 202  2021  BOS  41.0    44
 203  2021  NYK  47.0    17
 204  2021  PHI  56.0    44
 205  2021  ATL  47.0    26
 206  2021  CLE  25.0    16
 207  2021  DET  23.0    20
 208  2021  HOU  19.0    44
 209  2021  SAS  38.0    33
 210  2021  CHI  35.0    29
 211  2021  DEN  54.0    43
 212  2021  IND  39.0    42
 213  2021  MIL  52.0    63
 214  2021  GSW  44.0    13
 215  2021  LAL  48.0    53
 216  2021  PHO  58.0    39
 217  2021  POR  48.0    41
 218  2021  UTA  59.0    43
 219  2021  DAL  48.0    42
 220  2021  LAC  54.0    46
 221  2021  SAC  35.0    33
 222  2021  MIA  46.0    41
 223  2021  ORL  24.0    34
 224  2021  MIN  26.0    34
 225  2021  TOR  31.0    47
 226  2021  WAS  39.0    39
 227  2021  MEM  43.0    30
 228  2021  OKC  25.0    37
 229  2021  BRK  55.0    36
 230  2021  NOP  35.0    33
 231  2021  CHO  38.0    18,
      Year   Tm  Real  Pred
 232  2022  BOS  51.0    49
 233  2022  NYK  37.0    48
 234  2022  PHI  51.0    52
 235  2022  ATL  43.0    49
 236  2022  CLE  44.0    11
 237  2022  DET  23.0    18
 238  2022  HOU  20.0    16
 239  2022  SAS  34.0    32
 240  2022  CHI  46.0    52
 241  2022  DEN  48.0    58
 242  2022  IND  25.0    46
 243  2022  MIL  51.0    52
 244  2022  GSW  53.0    42
 245  2022  LAL  33.0    48
 246  2022  PHO  64.0    54
 247  2022  POR  27.0    48
 248  2022  UTA  49.0    63
 249  2022  DAL  52.0    48
 250  2022  LAC  42.0    47
 251  2022  SAC  30.0    32
 252  2022  MIA  53.0    48
 253  2022  ORL  22.0     5
 254  2022  MIN  46.0    38
 255  2022  TOR  48.0    40
 256  2022  WAS  35.0    41
 257  2022  MEM  56.0    44
 258  2022  OKC  24.0    19
 259  2022  BRK  44.0    58
 260  2022  NOP  36.0    32
 261  2022  CHO  43.0    40,
      Year   Tm  Real  Pred
 262  2023  BOS  57.0    52
 263  2023  NYK  47.0    42
 264  2023  PHI  54.0    53
 265  2023  ATL  41.0    48
 266  2023  CLE  51.0    51
 267  2023  DET  17.0    14
 268  2023  HOU  22.0     5
 269  2023  SAS  22.0    29
 270  2023  CHI  40.0    44
 271  2023  DEN  53.0    55
 272  2023  IND  35.0    28
 273  2023  MIL  58.0    54
 274  2023  GSW  44.0    51
 275  2023  LAL  43.0    44
 276  2023  PHO  45.0    53
 277  2023  POR  33.0    25
 278  2023  UTA  37.0    44
 279  2023  DAL  38.0    48
 280  2023  LAC  44.0    47
 281  2023  SAC  48.0    36
 282  2023  MIA  44.0    51
 283  2023  ORL  34.0    19
 284  2023  MIN  42.0    52
 285  2023  TOR  41.0    47
 286  2023  WAS  35.0    35
 287  2023  MEM  51.0    51
 288  2023  OKC  40.0    20
 289  2023  BRK  45.0    46
 290  2023  NOP  42.0    44
 291  2023  CHO  27.0    42]

In [160]:
big_df = pd.concat(list, ignore_index=True)
big_df

     Year   Tm  Real  Pred
0    2018  BOS  55.0    48
1    2018  NYK  29.0    31
2    2018  PHI  52.0    31
3    2018  ATL  24.0    29
4    2018  CLE  50.0    58
..    ...  ...   ...   ...
175  2023  MEM  51.0    51
176  2023  OKC  40.0    20
177  2023  BRK  45.0    46
178  2023  NOP  42.0    44
179  2023  CHO  27.0    42

[180 rows x 4 columns]

In [162]:
big_df.to_csv("data/pred_test_stoch.csv", index=None)

In [43]:
def tau_rau(year):
    pred_year =

SyntaxError: invalid syntax (3107900305.py, line 2)

In [47]:
spmr, _ = spearmanr(res_yr['Real'], res_yr['Pred'])
ktau, _ = kendalltau(res_yr['Real'], res_yr['Pred'])

NameError: name 'res_yr' is not defined

In [8]:
target = pd.read_csv("data/target_1979-2023.csv")

In [173]:
target

       Tm  Year   W/L%
0     WSB  1979  0.659
1     SEA  1979  0.634
2     PHO  1979  0.610
3     SAS  1979  0.585
4     KCK  1979  0.585
...   ...   ...    ...
1241  POR  2023  0.402
1242  CHO  2023  0.329
1243  HOU  2023  0.268
1244  SAS  2023  0.268
1245  DET  2023  0.207

[1246 rows x 3 columns]